/* versão desktop */
@media screen and (min-width: 1024px) {

  /* Estilização do cabeçalho versão desktop */
  
  .header {
    background-color: #2571b7;
    width: 100%;
    height: 5rem; /* 5 * 16 = 80px */
    margin-bottom: 0%;
  }

  .header__container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
    'LogoDesktop Nav LogoRight';
    position: fixed;
    height: 5rem;
    align-items: center;
    justify-content: center;
  }

  .header__containerLogoDesktop {
    grid-area: LogoDesktop;
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .header__logoDesktop {
    height: 25px;
  }

  .nav.active {
    display: grid;
  }
  
  .nav {
    grid-area: Nav;
    display: grid;
    width: 100%;
  }

  .header__containerLogoGeneral {
    grid-area: LogoRight;
    width: 100%;;
  }

  .nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .nav__item {
    color: #ffffff;
    font-size: 1rem; /* 16px, padrão do navegador */
  }

  .header__containerLogoGeneral {
    display: flex;
    justify-content: center;
  }

  .header__containerLogoSpecific {
    background-color: #002050;
    width: 50%;
    height: 100%;
    border: 1px solid white;
  }

  .header__menuMobile--ocultDesktop {
    display: none;
  }

  /* Estilização do aside do banner inicial da página versão desktop */

  .asideInitial {
    width: 100%;
    height: 820px;
  }

  .asideInitial__containerBanner {
    width: 100%;
    background-image: url("../imagens/image_banner_initial_2.png");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem; /* 2 * 16 = 32px */
  }

  .asideInitial__paragraphBanner {
    text-align: left;
  }

  .asideInitial__containerTextsBanner {
    grid-column: 1/3;
    grid-row: 1;
    width: 772px;    
    display: grid;
    align-self: flex-end;
    justify-self: center;
    padding: 0;
    gap: 0; 
    position: relative;
  } 

  .asideInitial__titleBanner {
    font-size: 5rem; /* 5 * 16 = 80px */
  }

  .asideInitial__paragraphBanner {
    font-size: 2rem; /* 2 * 16 = 32px */
    width: 100%;
  }

  .asideInitial__containerLinkBanner {
    width: 16.63rem; 
    height: 4.18rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner__link {
    font-size: 1.75rem;
  }

 .asideInitial__containerArrow {
    display: grid;
    width: 3.43rem;
    height: 56px;
    position: absolute;
    top: 520px;
  }

  .asideInitial__iconArrow {
    width: 100%;
    height: 100%;
  }

  .asideInitial__containerFooterBanner {
    grid-column: 3/4;
    grid-row: 2;
    width: 10.62rem;
    height: 100%;
    display: grid;
  }

  .asideInitial__containerFooterBanner { justify-self: center; }

  .asideInitial__containerLinkBanner.container--spacing { margin: 0; }

  /* Estilização da section principal */
  .section__containerParagraph {
    margin-top: 8%;
    height: 6.70rem;
  }
  
  .section_paragraph, .section_resumeTitle { font-size: 1.25rem; }
  
  .textSpan--colorRedDesktop { color: #F25022; }

  .section__title {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }

  .section__containerCardsTarget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section__containerCardTarget { display: grid; }

  .cardTarget--backgroundStrongBlue { background-color: #094AB2; }

  .cardTarget--backgroundMediumBlue { background-color: #0073C6; }

  .cardTarget--backgroundCyanBlue { background-color: #0093BE; }

  .cardTarget--backgroundPurpleBlue { background-color: #5558AF; }

  .card__resume { font-size: 1rem; word-wrap: break-word; max-width: 90%;}

  .sectionSecondary__title { font-size: 2.5rem; }

  .section__containerCardsSecondary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'CardOne CardTwo CardTree';
  }

  .cardSecondary--columnOne {
    display: grid;
    grid-area: CardOne;
  }

  .cardSecondary--columnTwo {
    display: grid;
    grid-area: CardTwo;
  }

  .cardSecondary--columnTree {
    display: grid;
    grid-area: CardTree;
  }

  .section__cardSecondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cardSecondary__containerIcon { order: 1; } 

  .cardSecondary__containerButton { order: 3; }

  .cardSecondary__containerContent { 
    order: 2; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }

  .cardSecondary__title {
    font-size: 1.25rem;
  }

  .cardSecondary__resume {
    text-align: center;
    width: 60%;
    font-size: 1rem;
  } 

  .cardSecondary__line {
    display: flex;
    width: 3.31rem;
    justify-self: center;
  }

  .cardSecondary__containerIcon {
    width: 10rem;
  }

  .cardSecondary__icon {
    width: 100%;
  }

  .sectionSecondary__line.line--ocultDesktop {
    display: none;
  }

}
