* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 767px) {

    .containerLayout {
        
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-areas: 
            'Header'
            'Main'
            'Aside'
            'Footer'
        ;

        grid-template-columns: 1fr;

    }

    .containerHeader {
        grid-area: Header;

        display: grid;
        grid-template-columns: 1fr;
        grid-row: 600px;

        margin-bottom: 20px;
    }

    
    .containerMain {
        grid-area: Main;
        margin-bottom: 50px;
    }

    .containerAside {
        grid-area: Aside;
        background-color: rgb(200, 166, 232);
        margin-bottom: 50px;
    }

    .containerFooter {
        grid-area: Footer;
        background-color: rgb(162, 214, 111);
    }

    .containerLogoAndNav {
        display: grid;
        background-color: #2571B7;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60px;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0; 
    }

    .containerIconMenu {
        margin-left: 5%;
    }

    .containerIconMenu .iconMenu {
        color: #FFFFFF;
    }

    .containerLogoHeader {
        display: flex;
        justify-content: flex-end;
    }

    .containerLogo {
        background-color: #002050;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
        padding: 0.60rem;
    }

    .containerLogo p {
        color: #FFFFFF;
        font-size: 0.88rem;
    }

    .containerBannerInitial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 500px;
        align-items: center;
    }

    .containerBannerInitial::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../imagens/img_banner_notebook.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        opacity: 0.8;
        z-index: -1;
    }
    
    .containerTextsBannerInitial {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 2rem;
    }

    .containerBannerInitial h1 {
        font-size: 2.63rem;
        color: #FFFFFF;
    }

    .containerBannerInitial .paragrafoBannerInitial {
        width: 90%;
        font-size: 1.5rem;
        font-weight: normal;
        text-align: center;
        color: #FFFFFF;
    }

    .btnBannerInitial {
        background-color: #00A4EF;
        width: 45%;
        padding: 1rem;
        text-align: center;        
    }

    .btnBannerInitial a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.32rem;
    }

    .btnBannerInitial:hover {
        background-color: #58beee;
    }
    
    .paragrafoBannerInitialFinal {
        width: 25%;
        margin-top: auto;
    }

    .paragrafoBannerInitialFinal p {
        text-transform: uppercase;
        word-wrap: break-word;
    }

    span {
        font-size: 0.60rem;
        color: #FFFFFF;
    }

    strong {
        color: #FFFFFF;
        font-size: 1.50rem;
    }

    .containerSectionMain {
        background-color: #FFFFFF;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .containerParagraphMain {
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
        gap: 3vh;
    }

    .containerParagraphMain p {
        text-align: center;
        font-size: 1rem;
    }

    .containerTitleSection {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2vh;
    }

    .containerTitleSection h2 {
        color: #2571B7;
        font-size: 1.5rem;
    }

    .containerTitleSection p {
        font-size: 0.95rem;
    }

    .containerCardsTarget {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
        gap: 2vh;
    }

    .containerCardTarget {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 130px;
        border: 1px solid black;
        justify-items: center;
        align-items: center;
    }

    .containerImgIconTarget {
        width: 40%;
        height: 40%;
        grid-column: 1/2;
    }

    .containerImgIconTarget img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .containerContentCardTarget h3 {
        font-size: 1.15rem;
    }

    .containerContentCardTarget p {
        font-size: 0.80rem;
    }

    .target1, .target2, .target3, .target4, .target5, .target6 {
        color: #FFFFFF;
    }

    .target1 {
        background-color: #0072C6;
    }

    .target2 {
        background-color: #2C5898;
    }

    .target3 {
        background-color: #207245;
    }

    .target4 {
        background-color: #CB4A32;
    }

    .target5 {
        background-color: #733781;
    }

    .target6 {
        background-color: #00AFF0;
    }


}

