
/* versão desktop */
@media screen and (min-width: 1024px) {

    .containerLayout {
         width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "Header"
            "AsideInitial "
            "Main"
            "Aside"
            "AsideTwo"
            "Footer";
            gap: 0;
    }

    
  /* Estilização do cabeçalho versão desktop */
  
  .header {
    background-color: #2571b7;
    width: 100%;
    height: 5rem;
    margin-bottom: 0%;
  }

  .header__container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
    'LogoDesktop Nav LogoRight' 
    'LogoDesktop Nav LogoRight' ;
    position: static;
  }

  .header__containerLogoDesktop {
    grid-area: LogoDesktop;
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .nav.active {
    display: grid;
  }
  
  .nav {
    grid-area: Nav;
    width: 100%;
  }

  .header__containerLogoGeneral {
    grid-area: LogoRight;
    width: 100%;;
  }

  .nav__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .nav__item {
    color: #ffffff;
    font-size: 1rem;
  }

  .header__containerLogoGeneral {
    display: flex;
    justify-content: center;
  }

  .header__containerLogoSpecific {
    background-color: #002050;
    width: 50%;
    height: 100%;
    border: 1px solid white;
  }

  .menuMobile--disableDesktop {
    display: none;
  }

  /* Estilização do aside do banner inicial da página versão desktop */

  .asideInitial__containerBanner {
    background-image: url("../imagens/image_banner_initial_desktop.png");
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'Conteent .'
    'LogoArrow Logo'
    ;
    padding: 2rem;
    justify-content: center;
  }

  .asideInitial__paragraphBanner {
    text-align: left;
  }

  .asideInitial__containerTextsBanner {
    width: 100%;    
    height: auto;
    display: grid;
    align-self: flex-end;
    justify-self: center;
    padding: 0;
    gap: 5rem;
  } 

 .asideInitial__containerArrow {
    grid-area: LogoArrow;
    width: 1.81rem;
    height: 3.5rem;
    align-self: flex-end;
    margin: 0 auto;
    position: relative;
    right: 16rem;
    bottom: 1rem;
  }

  .asideInitial__iconArrow {
    width: 100%;
    height: 100%;
  }

  .asideInitial__containerFooterBanner {
    width: 10.62rem;
    height: 100%;
    grid-area: Logo;
    display: grid;
    justify-self: flex-end;
    align-self: flex-start;
  }

  .asideInitial__logoBanner.position--bottom {
    align-self: flex-end;
  }

  .asideInitial__containerLinkBanner.container--spacing {
    margin: 0;
  }

  /* Estilização da section principal */
  .section__containerParagraph {
    margin-top: 8%;
    height: 6.70rem;
  }
  
  .section_paragraph, .section_resumeTitle {
    font-size: 1.25rem;
  }
  
  .textSpan--colorRedDesktop {
    color: #F25022;
  }

  .section__title {
    font-size: 2.5rem;
    margin-bottom: 5%;
  }

  .section__containerCardsTarget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardTarget--backgroundStrongBlue {
    background-color: #094AB2;
  }

  .cardTarget--backgroundMediumBlue {
    background-color: #0073C6;
  }

  .cardTarget--backgroundCyanBlue {
    background-color: #0093BE;
  }

  .cardTarget--backgroundPurpleBlue {
    background-color: #5558AF;
  }

}
