* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 767px) {

    .containerLayout {
        
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-areas: 
            'Header'
            'Main'
            'Aside'
            'AsideTwo'
            'Footer'
        ;

        grid-template-columns: 1fr;

    }

    /* Estilo do cabeçalho mobile */
    .header {
        grid-area: Header;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 700px;
        margin-bottom: 5%;
        justify-content: center;
    }

    
    .main {
        grid-area: Main;
    }

    .aside {
        grid-area: Aside;
    }

    .asideTwo {
        grid-area: AsideTwo;
    }

    .footer {
        grid-area: Footer;
    }


    .header__container {
        display: grid;
        background-color: #2571B7;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60px;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0; 
    }

    .header__containerIcon {
        margin-left: 5%;
    }

    .header__iconMenu {
        color: #FFFFFF;
    }

    .header__containerLogoGeneral {
        display: flex;
        justify-content: flex-end;
    }

    .header__containerLogoSpecific {
        background-color: #002050;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5%;
        padding: 0.60rem;
    }

    .header__logo {
        color: #FFFFFF;
        font-size: 0.88rem;
    }

    .header__containerBanner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 700px;
        align-items: center;
        background-image: url("../imagens/img_banner_initial_alt.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    /* Corrigir o posicionamento deste container, porque não está centralizando. */
    .header__containerTextsBanner {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 2rem;
    }

    .header__titleBanner {
        font-size: 2.63rem;
        color: #FFFFFF;
    }

    .header__paragraphBanner {
        width: 90%;
        font-size: 1.5rem;
        font-weight: normal;
        text-align: center;
        color: #FFFFFF;
    }

    .header__containerLinkBanner {
        background-color: #00A4EF;
        width: 45%;
        padding: 1rem;
        text-align: center;        
    }

    .banner__link {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1.32rem;
    }

    .banner__link:hover {
        background-color: #58beee;
    }
    
    .header__containerFooterBanner {
        width: 25%;
        margin-top: auto;
    }

    .footerBanner__paragraph {
        text-transform: uppercase;
        word-wrap: break-word;
    }

    .footerBanner__span {
        font-size: 0.60rem;
        color: #FFFFFF;
    }

    .footerBanner__strong {
        color: #FFFFFF;
        font-size: 1.50rem;
    }

    /*
    .containerSectionMain {
        background-color: #FFFFFF;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    } */

    /* Estilo da seção principal (com os cards com icones de alvo) */
    .main__section {
        width: 100%;
        background-color: #FFFFFF;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            'ParagrafhMain ParagrafhMain ParagrafhMain'
            'TitleSectionMain TitleSectionMain TitleSectionMain'
            'CardsTarget CardsTarget CardsTarget'
        ;
    }

    .section__containerParagraph {
        grid-area: ParagrafhMain;
    }

    .section__containerTitle {
        grid-area: TitleSectionMain;
    }

    .section__containerCardsTarget {
        grid-area: CardsTarget;
    }

    .section__containerParagraph {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 3rem;
        gap: 3vh;
    }

    .section_paragraph { text-align: center; font-size: 1rem; color: #737373;}

    .section__containerTitle {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 2vh;
        margin-bottom: 7%;
    }

    .section__title--blue {
        color: #2571B7;
        font-size: 1.5rem;
        margin-top: 8%;
        text-align: center;
    }

    .section_resumeTitle { text-align: center; font-size: 0.95rem; color: #737373;}

    /* 
    .containerCardsTarget {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
        gap: 2vh;
    } */

    .section__containerCardsTarget {
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
    }

    /* 
    .containerCardTarget {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 130px;
        border: 1px solid black;
        justify-items: center;
        align-items: center;
    } */

    .section__containerCardTarget {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            'IconTarget ContentCardTarget ContentCardTarget'
            'IconTarget ContentCardTarget ContentCardTarget'
        ;
        padding: 1.20rem;

    }

    .section__containerIconTarget { grid-area: IconTarget; align-self: center; }

    .containerContentCardTarget { grid-area: ContentCardTarget; justify-content: center; }

    .section__containerIconTarget { width: 60%; height: 70%; }

    .card_iconeTarget {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .section__containerContentCardTarget {
        display: flex;
        flex-direction: column;
        gap: 0.50rem;
        grid-column: 2/4;
    }

    .card__title { font-size: 1.15rem; }

    .card__resume { font-size: 0.80rem; width: 100%; }

    .card--targetDarkBlue, .card--targetBlue, .card--targetGreen, .card--targetOrange, .card--targetPurple, .card--targetFaintBlue {
        color: #FFFFFF;
    }

    .card--targetDarkBlue {background-color: #0072C6;}

    .card--targetBlue {background-color: #2C5898;}

    .card--targetGreen {background-color: #207245;}

    .card--targetOrange {background-color: #CB4A32;}

    .card--targetPurple {background-color: #733781;}

    .card--targetFaintBlue {background-color: #00AFF0;}


    /* Estilo da seção secundária (que tem os cardscom icones de mãos, segurança e laptop) */
    .section__containerSecondary { width: 100%; height: 30%; }

    .sectionSecondary__containerTitle { margin-bottom: 10%; }

    .section__containerCardsSecondary {
        width: 95%;
        height: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .section__cardSecondary {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            'conteent conteent iconn'
            'conteent conteent iconn'
            'button button iconn'
        ;
        gap: 1.5rem;
    }

    .title--green  { color: #7FBA00; }

    .button--borderGreen { border: 1px solid #7FBA00; }

    .title--blue { color: #00A4EF; }

    .button--borderBlue { border: 1px solid #00A4EF; }

    .title--orange { color: #FFB900; }

    .button--borderOrange { border: 1px solid #FFB900; }

    .cardSecondary__containerContent {
        grid-area: conteent;
        display: grid;
        gap: 0.92rem;
    }

    .cardSecondary__resume { font-size: 0.75rem; color: #737373; }

    .cardSecondary__containerIcon {
        grid-area: iconn;
        align-self: center;
        justify-self: flex-end;
    }

    hr { margin-top: 5%; margin-bottom: 5%; }

    .cardSecondary__containerButton { grid-area: button; }

    .cardSecondary__button { padding: 0.50rem; background-color: #FFFFFF; }

    .cardSecondary__button:hover { color: #FFFFFF; }

    .buttonGreen--hover:hover { background-color: rgba(151, 177, 95, 0.439);}

    .buttonBlue--hover:hover { background-color: rgba(94, 170, 200, 0.439); }

    .buttonOrange--hover:hover { background-color: rgba(223, 169, 20, 0.439); }

    hr { border: 2px solid #DEDEDE; }
    
    /* Estilo da segunda seção secundária. */
    .main__sectionSecondaryTwo {
        width: 100%;
        height: 25%;
        margin-bottom: 20%;
    }

    .sectionSecondaryTwo__containerCards {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .sectionSecondaryTwo__containerTitle {
        margin-bottom: 15%;
    }

    .sectionSecondaryTwo__cards {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1.60rem;
    }

    .sectionSecondaryTwo__cards.borderBottomNone {
        border-top: 3px solid #DEDEDE;
        border-left: 3px solid #DEDEDE;
        border-right: 3px solid #DEDEDE;
    }

    .sectionSecondaryTwo__cards.borderBottom {
        border: 3px solid #DEDEDE;
    }

    .sectionSecondaryTwo__title {
        color: #F25022;
        font-size: 0.94rem;
    }

    .sectionSecondaryTwo__resume {
        font-size: 0.75rem;
        color: #737373;
    }


    /* Estilização do container Aside */
    .aside {
        width: 100%;
        height: 14rem;
        background-image: url("../imagens/img_banner_secondary_mobile.png");
        background-repeat: no-repeat;
        background-size: cover; 
        margin-top: 10%;       
    }

    .aside__containerBanner {
        display: flex;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .aside__resume {
        text-align: center;
        font-size: 1.5rem;
        color: #FFFFFF;
    }


    /* Estilização do AsideTwo, próximo ao footer, responsável pelo form. */
    .asideTwo {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 10%;
    }

    .asideTwo__containerParagraph {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .asideTwo__paragraph {
        font-size: 0.94rem;
        color: #737373;
        text-align: center;
    }

    .asideTwo__containerForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #E6E6E6;
        padding: 1rem;
    }

    .asideTwo__containerInput {
        display: flex;
        flex-direction: column;
        gap: 0.50rem;
    }

    .asideTwo_label {
        font-size: 0.75rem;
        color: #737373;
    }

    .asideTwo__label.realce--blue {
        color: #2571B7;
    }

    .asideTwo__input {
        height: 3rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: none;
        padding: 1rem;
        font-size: 0.94rem;
        color: #737373;
    }

    .asideTwo__input.focus--inputBlue:focus {
       outline: none;
       border: 2px solid #2571B7;
    }

    .asideTwo__containerButton {
        width: 100%;
        height: 52px;
        margin-top: 8%;
    }

    .asideTwo__button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #00A4EF;
        color: #FFFFFF;
        font-size: 1.31rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .asideTwo__button.hover--realce:hover {
        background-color: #57b8e6;
    }

    /* Estilização do Footer. */
    .footer {
        width: 90%;
        margin: 0 auto;
    }

    .footer__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'LogoLeft LogoRight'
        'Copyright Copyright'
        ;
        gap: 1rem;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .footer__logo {
        color: black;
        text-transform: uppercase;
    }

    .footer__containerLogo.containerLogo--left {
        grid-area: LogoLeft;
        text-align: center;
    }

    .footer__containerLogo.containerLogo--right {
        grid-area: LogoRight;
        text-align: center;
    }

    .footer__containerParagraph {
        grid-area: Copyright;
        margin: 0 auto;
    }

    .footer__paragraph {
        font-size: 0.75rem;
        color: #B4B4B4;
    }

}

