* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.containerLayout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "Header"
    "AsideInitial"
    "Main"
    "Aside"
    "AsideTwo"
    "Footer";
}

/* Estilo do cabeçalho mobile */
.header {
  grid-area: Header;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 4%;
  justify-content: center;
  grid-auto-rows: 3rem;
}

.asideInitial {
  grid-area: AsideInitial;
}

.main {
  grid-area: Main;
}

.aside {
  grid-area: Aside;
}

.asideTwo {
  grid-area: AsideTwo;
}

.footer {
  grid-area: Footer;
}

.header__container {
  display: grid;
  background-color: #2571b7;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100%;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}

.header__containerIcon {
  margin-left: 5%;
  width: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.header__iconMenu {
  width: 100%;
  height: 80%;
  color: #ffffff;
}

.header__containerLogoGeneral {
  display: flex;
  justify-content: flex-end;
}

.header__containerLogoSpecific {
  background-color: #002050;
  width: 7.07rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  padding: 0.4rem;
}

.header__logo {
  color: #ffffff;
  font-size: 0.88rem;
}

.navDesktop--ocultMobile {
  display: none;
}

.header__logoDesktop--ocultMobile {
  display: none;
}

/* Estilização do Aside responsável pelo primeiro banner. */
.asideInitial {
  height: 37rem;;
}

.asideInitial__containerBanner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url("../imagens/img_banner_initial_alt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.asideInitial__containerTextsBanner {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1rem;
}

.asideInitial__titleBanner {
  font-size: 2.63rem;
  color: #ffffff;
}

.asideInitial__paragraphBanner {
  width: 90%;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.asideInitial__containerLinkBanner {
  background-color: #00a4ef;
  width: 11.75rem;
  height: 3.25rem;
  padding: 0.7rem;
  text-align: center;
}

.banner__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.32rem;
  cursor: pointer;
}

.asideInitial__containerLinkBanner:hover {
  background-color: #58beee;
}

.asideInitial__containerLinkBanner.container--spacing {
  margin-top: 10%;
}

.asideInitial__containerFooterBanner {
  width: 8.12rem;
  height: 2.43rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asideInitial__logoBanner {
  width: 100%;
  height: 100%;
}

.footerBanner__paragraph {
  text-transform: uppercase;
  word-wrap: break-word;
}

.iconArrow--ocultMobile {
  display: none;
}

/* Estilo da seção principal (com os cards com icones de alvo) */
.main__section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "ParagrafhMain ParagrafhMain ParagrafhMain"
    "TitleSectionMain TitleSectionMain TitleSectionMain"
    "CardsTarget CardsTarget CardsTarget";
}

.section__containerParagraph {
  grid-area: ParagrafhMain;
}

.section__containerTitle {
  grid-area: TitleSectionMain;
}

.section__containerCardsTarget {
  grid-area: CardsTarget;
}

.section__containerParagraph {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 3vh;
  margin-top: 3.75rem;
}

.section_paragraph {
  text-align: center;
  font-size: 1rem;
  color: #737373;
}

.section__containerTitle {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2vh;
  margin-bottom: 7%;
}

.section__title--blue {
  color: #2571b7;
  font-size: 1.5rem;
  margin-top: 8%;
  text-align: center;
}

.section_resumeTitle {
  text-align: center;
  font-size: 0.95rem;
  color: #737373;
}

.section__containerCardsTarget {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.section__containerCardTarget {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "IconTarget ContentCardTarget ContentCardTarget"
    "IconTarget ContentCardTarget ContentCardTarget"
  ;
  gap: 1%;
  height: 124px;
  align-items: flex-end;
}

.section__containerIconTarget {
  grid-area: IconTarget;
  align-self: center;
}

.containerContentCardTarget {
  grid-area: ContentCardTarget;
  justify-content: center;
}

.section__containerIconTarget {
  width: 3.06rem;
  height: 3.06rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section__iconeTarget {
  width: 100%;
  height: 100%;
}

.section__containerContentCardTarget {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: 2/4;
}

.card__title {
  font-size: 1.15rem;
}

.card__resume {
  font-size: 0.8rem;
  width: 100%;
}

.card__title--White, .card__resume--White {
  color: #ffffff;
}

.cardTarget--backgroundDarkBlue {
  background-color: #0072c6;
}

.cardTarget--backgroundBlue {
  background-color: #2c5898;
}

.cardTarget--backgroundGreen {
  background-color: #207245;
}

.cardTarget--backgroundOrange {
  background-color: #cb4a32;
}

.cardTarget--backgroundPurple {
  background-color: #733781;
}

.cardTarget--backgroundFaintBlue {
  background-color: #00aff0;
}

.cardTarget--ocultMobile {
  display: none;
}

/* Estilo da seção secundária (que tem os cardscom icones de mãos, segurança e laptop) */
.section__containerSecondary {
  width: 100%;
  height: 30%;
}

.sectionSecondary__containerTitle {
  margin-bottom: 10%;
}

.section__containerCardsSecondary {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section__cardSecondary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "conteent conteent iconn"
    "conteent conteent iconn"
    "button button iconn";
  gap: 1.5rem;
}

.title--green {
  color: #7fba00;
}

.button--borderGreen {
  border: 1px solid #7fba00;
}

.title--blue {
  color: #00a4ef;
}

.button--borderBlue {
  border: 1px solid #00a4ef;
}

.title--orange {
  color: #ffb900;
}

.button--borderOrange {
  border: 1px solid #ffb900;
}

.cardSecondary__containerContent {
  grid-area: conteent;
  display: grid;
  gap: 0.92rem;
}

.cardSecondary__resume {
  font-size: 0.75rem;
  color: #737373;
}

.cardSecondary__containerIcon {
  grid-area: iconn;
  align-self: center;
  justify-self: flex-end;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
}

.cardSecondary__containerButton {
  grid-area: button;
}

.cardSecondary__button {
  padding: 0.5rem;
  background-color: #ffffff;
}

.cardSecondary__button:hover {
  color: #ffffff;
}

.buttonGreen--hover:hover {
  background-color: rgba(151, 177, 95, 0.439);
}

.buttonBlue--hover:hover {
  background-color: rgba(94, 170, 200, 0.439);
}

.buttonOrange--hover:hover {
  background-color: rgba(223, 169, 20, 0.439);
}

hr {
  border: 2px solid #dedede;
}

.line--ocultMobile {
  display: none;
}

/* Estilo da segunda seção secundária. */
.main__sectionSecondaryTwo {
  width: 100%;
  height: 40.62rem;
}

.sectionSecondaryTwo__containerCards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sectionSecondaryTwo__containerTitle {
  margin-top: 3.75rem;
  margin-bottom: 2.06rem;
  height: 4.25rem;
  text-align: start;
}

.sectionSecondaryTwo__title {
  text-align: center;
}

.sectionSecondaryTwo__cards {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}

.sectionSecondaryTwo__cards.cards--borderBottomNoneMobile {
  border: 3px solid #dedede;
  border-bottom: none;
}

.sectionSecondaryTwo__cards.borderBottom {
  border: 3px solid #dedede;
}


.sectionSecondaryTwo__cardTitle {
  color: #f25022;
  font-size: 0.94rem;
}

.sectionSecondaryTwo__resume {
  font-size: 0.75rem;
  color: #737373;
  text-align: center;
}

/* Estilização do container Aside */
.aside {
  width: 100%;
  height: 14rem;
  background-image: url("../imagens/img_banner_secondary_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3.75rem;
}

.aside__containerBanner {
  display: flex;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.aside__resume {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

/* Estilização do AsideTwo, próximo ao footer, responsável pelo form. */
.asideTwo {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 10%;
}

.asideTwo__containerParagraph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  margin-bottom: 1.69rem;
}

.asideTwo__paragraph {
  font-size: 0.94rem;
  color: #737373;
  text-align: center;
}

.asideTwo__containerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e6e6e6;
  padding: 1rem;
}

.asideTwo__containerInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.asideTwo_label {
  font-size: 0.75rem;
  color: #737373;
}

.asideTwo__containerInput:focus-within {
  color: #2571b7;
}

.asideTwo__input {
  height: 3rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  padding: 1rem;
  font-size: 0.94rem;
  color: #737373;
}

.asideTwo__input.focus--inputBlue:focus {
  outline: none;
  border: 2px solid #2571b7;
}

.asideTwo__containerButton {
  width: 100%;
  height: 52px;
  margin-top: 8%;
}

.asideTwo__button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #00a4ef;
  color: #ffffff;
  font-size: 1.31rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asideTwo__button.hover--realce:hover {
  background-color: #57b8e6;
}

/* Estilização do Footer. */
.footer {
  width: 90%;
  margin: 0 auto;
}

.footer__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "LogoLeft LogoRight"
    "Copyright Copyright";
  gap: 1rem;
  margin-top: 3%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.footer__containerLogo.containerLogo--left {
  grid-area: LogoLeft;
}

.footer__containerLogo.containerLogo--right {
  grid-area: LogoRight;
}

.footer__containerParagraph {
  grid-area: Copyright;
  text-align: center;
}

.footer__containerLogo {
    width: 7.5rem;
    height: 3.87rem;
    display: grid;
    margin: 0 auto;
    margin-top: 2rem;
}

.footer__logo {
    filter: brightness(0);
    width: 100%;
    height: 100%;
}
